@page
@model Final_Project.Pages.Shared.ReportsModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/reports.css">
</head>
<body>
    <header>
        <h2>Reports</h2>
    </header>
    <div class="position">
        <div class="selector">
            <button>Filter by date</button>
            <button>Filter by costumer</button>
            <button>sort from higher to bottom</button>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="1022" height="641" viewBox="0 0 1022 641" fill="none">
            <path d="M168.53 41.1814L168.946 42.0076H169.87H982.175L1020.4 639.5H1.5V1.5H148.58L168.53 41.1814Z" fill="white" stroke="#1D006E" stroke-width="3" />
        </svg>
    </div>
    <div class="side-buttons">
        <button>Refresh</button>
        <button>Print</button>

    </div>

</body>
</html>