@page
@model Final_Project.Pages.jobsModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/jobs.css">
</head>
<body>
    <header>
        <h2>Jobs</h2>
    </header>
    <div class="position">
        <div class="selector">
            <button>Filter by date</button>
            <button>Filter by costumer</button>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="1022" height="641" viewBox="0 0 1022 641" fill="none">
            <path d="M168.53 41.1814L168.946 42.0076H169.87H982.175L1020.4 639.5H1.5V1.5H148.58L168.53 41.1814Z" fill="white" stroke="#1D006E" stroke-width="3" />
        </svg>
    </div>
    
    <div class="side-buttons">
            <button data-bs-toggle="modal" data-bs-target="#addJobModal">Add</button>
        @* <button data-bs-toggle="modal" data-bs-target="#removeJobModal">Delete</button>
        *@<button data-bs-toggle="modal" data-bs-target="#propJobModal">Properties</button>
    </div>

    <div class="modal fade" id="addJobModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Job</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="text" placeholder="Enter S_ID" />
                        <input type="text" placeholder="Enter Name" />

                        <input type="number" placeholder="Enter Quantity" />
                        

                        <input type="text" placeholder="Enter ID" />

                        <!-- Other input fields... -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>






            </div>
        </div>
    </div>

    <div class="modal fade" id="propJobModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Job Properties</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="text" placeholder="Enter S_ID" />
                        <input type="text" placeholder="Enter Name" />

                        <input type="number" placeholder="Enter Quantity" />


                        <input type="text" placeholder="Enter ID" />

                        <!-- Other input fields... -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>






            </div>
        </div>
    </div>

</body>
</html>
