@page
@model Final_Project.Pages.SalesModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/sales.css">
</head>
<body>
    <h1>Welcome , <span>E_Name</span></h1>
    <h1>Sales</h1>
    <form method="post">  
        <div class="buttons">
        <button class="submit" asp-page="/Sales Order">
            Sales Order
        </button>
        <button class="submit" asp-page="/Sales Delivery">
            Sales Delivery
        </button>
        <button class="submit" asp-page="/Shared/Reports">
            Reports
        </button>
    </div>
    </form>

</body>
</html>